ASPNETCORE_ENVIRONMENT='Development'
ASPNETCORE_URLS='http://localhost:5000'
ConnectionStrings__IdentityDatabase='Host=localhost;Port=55432;Database=umbral_identity;Username=umbral;Password=16102005'
KEYCLOAK_BASE_URL='http://localhost:8080'
KEYCLOAK_REALM='UMBRAL-UCAB'
KEYCLOAK_CLIENT_ID='identity-service'
KEYCLOAK_VALID_AUDIENCES='identity-service,umbral-web,account'
KEYCLOAK_VALID_ISSUERS='http://localhost:8080/realms/UMBRAL-UCAB,http://192.168.1.104:8080/realms/UMBRAL-UCAB'
KEYCLOAK_CLIENT_SECRET='umbral-identity-secret'
