VITE_IDENTITY_API_BASE_URL=http://localhost:5000
VITE_TRIVIA_API_BASE_URL=http://localhost:5000
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=UMBRAL-UCAB
VITE_KEYCLOAK_CLIENT_ID=umbral-web
