# Valores globales (LAN_IP, puertos, Keycloak, BD) vienen del .env raiz del repo.
# Editalos alli, no aqui. Aqui solo van los valores propios de este servicio.
ASPNETCORE_ENVIRONMENT='Development'
ASPNETCORE_URLS="http://0.0.0.0:${BDT_PORT:-5016}"
ConnectionStrings__BdtDatabase="Host=${DB_HOST:-localhost};Port=${DB_PORT:-55432};Database=umbral_bdt_game;Username=${DB_USER:-umbral};Password=${DB_PASSWORD:-16102005}"
KEYCLOAK_BASE_URL="http://${KEYCLOAK_HOST:-localhost}:${KEYCLOAK_PORT:-8080}"
KEYCLOAK_REALM="${KEYCLOAK_REALM:-UMBRAL-UCAB}"
KEYCLOAK_CLIENT_ID='bdt-game-service'
KEYCLOAK_VALID_AUDIENCES='bdt-game-service,umbral-web,umbral-mobile,account'
KEYCLOAK_VALID_ISSUERS="http://${KEYCLOAK_HOST:-localhost}:${KEYCLOAK_PORT:-8080}/realms/${KEYCLOAK_REALM:-UMBRAL-UCAB},http://${LAN_IP:-localhost}:${KEYCLOAK_PORT:-8080}/realms/${KEYCLOAK_REALM:-UMBRAL-UCAB}"
