ASPNETCORE_ENVIRONMENT='Development'
ASPNETCORE_URLS='http://0.0.0.0:5099'
ConnectionStrings__TeamDatabase='Host=localhost;Port=55432;Database=umbral_team;Username=umbral;Password=16102005'
KEYCLOAK_BASE_URL='http://localhost:8080'
KEYCLOAK_REALM='UMBRAL-UCAB'
KEYCLOAK_CLIENT_ID='team-service'
KEYCLOAK_VALID_AUDIENCES='team-service,umbral-mobile,account'
KEYCLOAK_VALID_ISSUERS='http://localhost:8080/realms/UMBRAL-UCAB,http://192.168.1.104:8080/realms/UMBRAL-UCAB'
