EXPO_PUBLIC_KEYCLOAK_URL=http://<IP-LAN>:8080
EXPO_PUBLIC_KEYCLOAK_REALM=UMBRAL-UCAB
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=umbral-mobile
EXPO_PUBLIC_TEAM_API_BASE_URL=http://<IP-LAN>:5099
EXPO_PUBLIC_BDT_API_BASE_URL=http://<IP-LAN>:5016
EXPO_PUBLIC_TRIVIA_API_BASE_URL=http://<IP-LAN>:5015
EXPO_PUBLIC_APP_SCHEME=umbral
EXPO_PUBLIC_AUTH_REDIRECT_URI=exp://<IP-LAN>:8081/--/auth
